body
{
    background-color: #000000;
    font-family: PT Sans;
    color: #FFFFFF;
}
#searchbox
{
    font-family: PT Sans;
    font-weight: 400;
    background-color: #121212;
    color: #FFFFFF;
    margin-left: auto;
    margin-bottom: auto;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    margin-left: 2%;
    vertical-align: 65%;
    width: 72%;
}

.topcorner {
  float: right;
  margin-top: 1%;
}


::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #ebebeb;
  border: 0px solid #ffffff;
  border-radius: 49px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px solid #ffffff;
  border-radius: 49px;
}
::-webkit-scrollbar-track:hover {
  background: #0f0f0f;
}
::-webkit-scrollbar-track:active {
  background: #212121;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

